html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

hr {
  margin-right: 2rem;
}

header {
  font-size: 2rem;
  background-color: lightblue;
  padding: 0.75rem;
}

main {
  display: grid;
  grid-template-columns: fit-content(20%) auto;
  column-gap: 1rem;
  padding-top: 0.5rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

/*  Sidebar Navigation  */
nav {
  padding-left: 1rem;
  font-size: 1.4rem;
}

.nav-list {
  display: flex;
  flex-direction: column;
}

.nav-item {
  border: 1px black solid;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.nav-project-item {
  margin-left: 10px;
}

/*  Main Content  */
/*  Project Display */
.project-title-div {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.2rem;
  align-items: center;
}

.project-title-div h2 {
  font-size: 3.5rem;
}

.project-title-btns {
  display: flex;
  gap: 0.75rem;
}

.project-title-div button {
  height: 2rem;
}

.project-btns-div {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

/*  Todos List  */

.todo-list {
  margin-bottom: 1.25rem;
}

/*  Todos List Item */
.todo-list-item {
  margin-bottom: 0.75rem;
}

.todo-top {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.todo-top div.todo-title-div {
  font-size: 1.6rem;
}

.todo-top button {
  height: 1.25rem;
}

.todo-btns-div button {
  margin: 0 0.3rem;
}

.todo-bottom {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  margin-top: 0.3rem;
}

.todo-due-date {
  font-size: 1.25rem;
}

/*  Completed Section */
.completed-header-div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.completed-header-div h3 {
  font-size: 2rem;
}

.del-complete-btn {
  height: fit-content;
  padding: 0.25rem;
}

/*  Popup Styles  */
.popup-header {
  display: flex;
  justify-content: end;
  margin-bottom: 0.5rem;
}

.popup-input-area {
  display: grid;
  grid-template-columns: 8vw 20vw;
  margin-bottom: 0.5rem;
}

.todo-popup .popup-btn {
  margin-top: 1rem;
}

.project-popup .popup-btn {
  margin-top: 0.5rem;
}

.confirm-popup {
  max-width: 50vw;
}

.confirm-popup .popup-text {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

#confirm-btn {
  margin-left: 0.5rem;
}

/*  View Todo Popup */
.view-popup {
  width: 40vw;
  height: 40vh;
  display: grid;
  grid-template-rows: 1fr 2fr 25vh 1fr;
}

.title-div {
  display: flex;
  gap: 1rem;
}

.view-title {
  font-size: 2rem;
}

.view-popup .complete-btn {
  width: fit-content;
  height: fit-content;
  align-self: center;
}

.view-todo-info {
  margin-top: 1rem;
}

.view-info-ul li {
  margin: 0.5rem 0;
}

/*  Priority display */

.priority {
  border-radius: 15%;
  padding: 0.4rem;
}

.high-priority {
  background: rgb(231 172 181);
}

.medium-priority {
  background: rgb(227 156 116 / 68%);
}

.low-priority {
  background: rgb(172 191 229);
}
