html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

header {
  font-size: 2rem;
  background-color: lightblue;
  padding: 0.75rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 6fr;
  column-gap: 1rem;
  padding-top: 0.5rem;
}

/*  Sidebar Navigation  */
nav {
  padding-left: 1rem;
  font-size: 1.4rem;
}

.nav-list {
  display: flex;
  flex-direction: column;
}

.nav-item {
  border: 1px black solid;
}

.nav-project-item {
  margin-left: 10px;
}

/*  Main Content  */
/*  Project Display */
.project-title-div {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.project-title-div h2 {
  font-size: 3.5rem;
}

.project-title-div button {
  height: 2rem;
  align-self: center;
}

/*  Todos List  */
/*  Todos List Item */
.todo-top {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.todo-top div.todo-title-div {
  font-size: 1.6rem;
}

.todo-top button {
  height: 1.25rem;
}

.todo-bottom {
  display: flex;
  gap: 1.2rem;
  font-size: 1.12rem;
  align-items: center;
}

.priority {
  border-radius: 15%;
  padding: 0.4rem;
}

.high-priority {
  background: lightpink;
}

.medium-priority {
  background: rgb(212, 111, 71);
}

.low-priority {
  background: rgb(98, 126, 179);
}
